.git
.github
.next
node_modules
.env
.env.*
!.env.example

backups
data
docs
test-results
tests
playwright-report

*.log
*.zip
*.hercules.tmp
**/.hercules-tmp
**/*.hercules-report
**/hercules-import-output
